@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  CSS Document */
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
*{
    box-sizing:border-box;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}

#main{
    width: 100%;
    height: 100vh;
    position:relative;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
}
.logo img{
    height: 45px;
}
nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 30px;
    display: flex;
    font-size: 0.8rem;
    text-transform: lowercase;
    font-weight: 500;
    color:lightgrey;
    letter-spacing: 2px;
}
.hey{
    color:darkorange;
    font-weight:500;
    font-size: 0.9rem;
    border-bottom: 2px solid coral;
}
nav ul li a:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
    transition: all ease 0.2s;
}
.model img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.model{
    width:500px;
    height: 500px;
}
.content{
    width:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main-text{
    width:500px;
}
.main-text h1{
    font-size: 3.5rem;
    color: darkorange;
    margin:0 0 10px 0;
    line-height: 60px;
}
.main-text p{
    color: lightgray;
}
.portfolio-btn{
    width:300px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    background-color: darkorange;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
    background-color: orangered;
    transition: all ease 0.2s;
}

#resume{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width:100%;
    margin:auto auto auto auto;
    border-bottom-color: black;
    background-color: black;
    height: 180vh;
}
.resume-text{
    width: 600px;
    position: center;
}
.resume-heading h2 {
    color:darkorange;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 3rem;
    position: center;
    text-align: center;
}
.resume-heading span {
    color: coral;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 1.5rem;
    position: center;
    text-align-all: center;
}

.r-box-text strong{
    color: coral;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.r-box-text p{
    color:antiquewhite;
    font-size: 0.9rem;
}
.r-box-container{
    margin-top: 30px;
}
.resume-box{
    display: flex;
    margin: 25px 0;
}

#skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:auto auto auto auto;
    border-bottom-color: black;
    background-color: black;
    height: 125vh;
}
.skills-text{
    width:600px;
    margin-left: 50px;
}
.skills-img{
    width:600px;
    height: 600px;
}
.skills-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.skills-heading span{
    color:darkorange;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 1rem;
}
.skills-heading h2{
    color: coral;
    font-size: 3.3rem;
    margin:0;
    font-weight: 400;
    letter-spacing: 1px;
}
.s-box-container{
    margin-top: 30px;
}
.skills-box{
    display: flex;
    margin: 25px 0;
}
.s-box-icon{
    margin-right:12px;
}
.s-box-icon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    font-size: 1.1rem;
    z-index: 0;
}
.s-box-text strong{
    color: coral;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}
.s-box-text p{
    color:antiquewhite;
    font-size: 0.9rem;
}
.fa-html5{
    color:#e06061;
}
.fa-css3-alt{
    color:#416cdf;
}
.fa-js-square{
    color:#f98231;
}
.sk-box-text strong{
    color: coral;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 50px;
}

#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:auto auto auto auto;
    background-color: black;
    height: 170vh;
}
.about-text{
    width:100%;
    margin-left: 60px;
    text-align-all: left;
}
.about-heading h2{
    color: lightgreen;
    font-size: 3.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 300px;
    text-align: center;
}
.ab-box-container{
    margin-top: 0;
}
.about-box{
    display: flex;
    margin: 0;
}

.ab-box-text strong{
    color: coral;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}

.ab-box-text p{
    color:antiquewhite;
    font-size: 0.9rem;
}

.ab-box-text strong{
    color: coral;
    font-size: 0.9rem;
    margin-left: 50px;
}
p{
    width:100%;
    margin: 0;
    text-align-all: left;
}
.purple-text {
    color: purple;
    font-size: 0.9rem;
}
.yellow-text {
    color: #eeb02f;
    font-size: 0.9rem;
}
.white-text {
    color: mediumseagreen;
    font-size: 0.9rem;
    letter-spacing: 3px;
}
.blue-text {
    color: mediumseagreen;
    font-size: 1.3rem;
}
.about-img{
    width: 1000px;
    height: 1000px;
}
.about-img img{
    width:100%;
    height: 100%;
    object-fit: fill;
}
#foot{
    width: 100%;
    height: 50vh;
    position:relative;
    background-color: black;
    color: white;
    font-family: "Roboto Thin", sans-serif;
}
.social{
    width: 600px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social>a{
    display: inline-flex ;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 15px;
    margin: 0 50px;
    font-size: 25pt;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s;
}
.social>a>i{
    transition: 0.8s;
}
.social>a:hover{
    transform: scale(1.1);
    background-color: white;
    border: 1px solid black;
    color: black;
}
.social>a:hover>i{
    transform: rotate(15deg) scale(1.2);
}
